@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.kaitlyn {
  padding: 50px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.parent-of-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.search-button {
  background-color: rgb(39, 186, 235);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}

.girl {
  height: 200px;
  border-radius: 40%;
}
